.feature-container {
    position: relative;
}

.feature-container .slide-container .slide{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 70px;
}

.feature-container .slide-container .slide .content{
    flex: 1 1 350px;
    animation: slideContent .4s linear .6s backwards;
}

@keyframes slideContent{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
}

.feature-container .slide-container .slide .image{
    flex: 1 1 500px;
}

.feature-container .slide-container .slide .image img{
    width: 100%;
    animation: slideImage .4s linear;
}

@keyframes slideImage{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
}

.feature-container .slide-container .slide .content h3{
    font-size: 42px;
    color: #710684FF;
}

.feature-container .slide-container .slide .content p{
    font-size: 20px;
    color: #2c0b31;
}

.feature-container .slide-container{
    display: none;
}

.feature-container .slide-container.active{
    display: block;
}

.feature-container .slide-container{
    background: linear-gradient(90deg, #fff 60%, #710684FF 40%);
}

.feature-container #prev,
.feature-container #next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    background: #2c0b31;
    height: 50px;
    width: 40px;
    line-height: 50px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 30%;
}

.feature-container #prev:hover,
.feature-container #next:hover{
    background-color: #666;
}

.feature-container #prev{
    left: 20px;
}

.feature-container #next{
    right: 20px;
}

@media(max-width: 500px){
    .feature-container #prev{
        left: 0px;
        top: 60%;
    }
    
    .feature-container #next{
        right: 0px;
        top: 60%;
    }
}